@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background: rgb(31, 61, 122);
  background: radial-gradient(circle, rgba(31, 61, 122, 1) 0%, rgba(25, 40, 81, 1) 0%, rgba(27, 47, 95, 1) 15%, rgba(14, 1, 4, 0.9836309523809523) 100%);
  /* background-color: #2d2013; */
  /* background-image: url(/src/asset/mine.jpg);
  background-size:calc(12); */
  color: #D57D1F;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  width: 100%;
}